@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700;

800&family=Roboto:wght@400;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  color: #FCFDFE;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  padding: 14px 30px;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button_blue {
  background-color: #4285F4;
}

.button_blue:hover {
  background-color: #3978dd;
}

.button_red {
  background-color: #ec5863;
}

.button_red:hover {
  background-color: #dd4c56;
}

.title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 126%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}

.text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
}

.accent-text_red {
  color: #EC5863;
}

.accent-text_blue {
  color: #4285F4;
}

.block-text__title {
  margin-bottom: 0.75rem;
}

.block-text__text {
  margin-bottom: 1.5rem;
  max-width: 22.1875rem;
}

.block-text__button {
  width: 9rem;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.125rem;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__image {
  max-width: 100%;
}

.logo__text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.menu__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.page__app {
  padding: 135px 0 80px 0;
}

.page__numbers {
  padding: 80px 0 80px 0;
  background-color: #fafbfd;
}

.page__experts {
  background-color: #fafbfd;
  padding-bottom: 116px;
}

.page__advantages {
  padding: 80px 0 75px 0;
}

.mainblock__container {
  padding-top: 130px;
  padding-bottom: 50px;
  position: relative;
}

.mainblock__container::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 74.3%;
  display: block;
  width: 200%;
  height: 100%;
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
}

.mainblock__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.75rem;
  gap: 30px;
}

.mainblock__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainblock__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64%;
          flex: 0 1 64%;
  text-align: center;
}

.mainblock__image img {
  max-width: 100%;
}

.link-mainblock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.link-mainblock:hover .link-mainblock__img svg {
  stroke: #ec5863;
}

.link-mainblock:hover .link-mainblock__title {
  text-decoration: underline;
}

.link-mainblock__img svg {
  -webkit-transition: stroke 0.3s ease 0s;
  -o-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
  stroke: #4285F4;
}

.link-mainblock__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.link-mainblock__subtitle {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 126%;
  letter-spacing: 0.08em;
  color: #B0B0B0;
}

.link-mainblock__title {
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.app__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.app__content > h2 {
  max-width: 380px;
}

.media-app {
  width: 23.25rem;
  padding: 56px 0 27px 0;
  position: relative;
}

.media-app__decoration-block {
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
}

.media-app__decoration-block_1 {
  top: 0;
  left: 0px;
  width: 147px;
  height: 147px;
}

.media-app__decoration-block_2,
.media-app__decoration-block_3 {
  width: 77px;
  height: 77px;
}

.media-app__decoration-block_2 {
  bottom: 107px;
  right: 34px;
}

.media-app__decoration-block_3 {
  left: 32px;
  bottom: 0;
}

.media-app__image {
  display: inline-block;
  -webkit-filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
  border-radius: 16px;
  position: relative;
}

.media-app__image img {
  position: relative;
  z-index: 2;
  max-height: 459px;
  max-width: 100%;
}

.media-app__image::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
}

.numbers__body {
  position: relative;
  margin: 0 auto;
  max-width: 654px;
}

.numbers__decoration-block {
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
  z-index: 2;
}

.numbers__decoration-block_1 {
  border-radius: 16px;
  bottom: -20px;
  left: -20px;
  width: 65.75px;
  height: 65.75px;
}

.numbers__decoration-block_2 {
  top: -40px;
  left: 220px;
  width: 96.96px;
  height: 96.96px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
}

.numbers__decoration-block_1,
.numbers__decoration-block_3 {
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.numbers__decoration-block_3 {
  bottom: -10px;
  right: -52px;
  width: 127.47px;
  height: 127.47px;
}

.numbers__items {
  position: relative;
  z-index: 3;
  background-color: #fff;
  padding: 28px 80px;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers__item {
  z-index: 2;
}

.item-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 5px;
}

.item-numbers__number {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1944444444;
  letter-spacing: 0.14em;
  color: #EC5863;
}

.item-numbers__text {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  letter-spacing: 0.37em;
  text-transform: uppercase;
}

.experts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.experts__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  padding-bottom: 30%;
}

.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 72px;
     -moz-column-gap: 72px;
          column-gap: 72px;
  row-gap: 25px;
  margin-bottom: 45px;
}

.advantages__item {
  position: relative;
}

.advantages__item::after,
.advantages__item::before {
  display: block;
  position: absolute;
  background: #EC5863;
  content: "";
  z-index: -1;
}

.advantages__item:first-child::after {
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 65.75px;
  height: 65.75px;
  bottom: -34px;
  left: -18px;
}

.advantages__item:first-child::before {
  width: 96.96px;
  height: 96.96px;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  top: 42px;
  right: -50px;
}

.advantages__item:last-child::after {
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 65.75px;
  height: 65.75px;
  top: -35px;
  right: -20px;
}

.advantages__item:last-child::before {
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 127.47px;
  height: 127.47px;
  bottom: -24px;
  left: -120px;
}

.advantages__footer {
  padding: 30px 0 0 0;
}

.header-advantages {
  min-width: 15rem;
  text-align: center;
  margin-bottom: 3.75rem;
}

.header-advantages__title {
  margin-bottom: 0.875rem;
}

.header-advantages__text {
  margin: 0 auto;
  max-width: 37.5rem;
}

.item-advantages {
  background-color: #fff;
  padding: 40px 25px;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.item-advantages__image {
  margin-bottom: 3.625rem;
}

.item-advantages__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  margin-bottom: 0.25rem;
}

.footer-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
}

.footer-advantages__image {
  max-width: 100%;
}

@media (max-width: 61.99875em) {
  .advantages__items {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.125rem;
  }

  .text {
    font-size: 1rem;
  }

  .block-text__text {
    max-width: none;
  }

  .header__container {
    min-height: 5rem;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .header__logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__button {
    z-index: 5;
  }

  .logo {
    z-index: 5;
  }

  .menu__body {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 2.5rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page__app {
    padding: 65px 0 40px 0;
  }

  .page__numbers {
    padding: 40px 0;
  }

  .page__experts {
    padding-bottom: 58px;
  }

  .page__advantages {
    padding: 40px 0 35px 0;
  }

  .mainblock__container {
    paddin-top: 100px;
    padding-bottom: 25px;
  }

  .mainblock__container::before {
    display: none;
  }

  .mainblock__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .mainblock__image img {
    max-width: 70%;
  }

  .app__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .app__media {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .numbers__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    row-gap: 20px;
  }

  .experts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .experts__video {
    padding-bottom: 57%;
  }

  .advantages__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-advantages {
    padding: 40px 15px;
  }

  .item-advantages__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .logo__text {
    display: none;
  }

  .footer-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}