@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;

0,500;0,700;0,800;1,600&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  letter-spacing: 0.2px;
}

body {
  color: #252B42;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #fafafa;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 1.25rem 0.9375rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active {
  border-bottom: 0px solid #fff;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-bottom: 1px solid #fff;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
}

.title__label {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.425;
  color: #252B42;
}

.title__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.icon-menu {
  display: none;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 132px;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  letter-spacing: 0.1px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 21px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 1.7142857143;
}

.footer__info {
  background-color: #17213c;
}

.footer__spollers {
  padding: 50px 0;
}

.footer__title {
  width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 1.25rem;
  padding: 1.25rem 0.9375rem;
}

.spollers__item {
  color: #fff;
}

.spollers__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0s ease 0.45s;
  -o-transition: all 0s ease 0.45s;
  transition: all 0s ease 0.45s;
}

.spollers__title_e {
  border-bottom: 0;
}

.spollers__body {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3333333333;
}

.spollers__body_e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-bottom: 0;
}

.spollers__body_e:nth-child(2) {
  -webkit-transform: translate(2px, 0px);
      -ms-transform: translate(2px, 0px);
          transform: translate(2px, 0px);
}

.spollers__element_e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.spollers__element a {
  padding: 8px 0;
  display: block;
}

.social {
  padding: 25px 0;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #737373;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__twitter {
  width: 112%;
}

.social__youtube {
  width: 125%;
}

.page__main-block {
  padding: 184px 0 191px 0;
}

.page__services {
  position: relative;
  margin: -111px 0 0 0;
  z-index: 2;
}

.page__benefits {
  padding: 80px 0;
}

.page__advice {
  padding: 125px 0 80px 0;
}

.page__about {
  background-color: #fff;
  padding: 100px 0 136px 0;
}

.page__clients {
  padding: 50px 0 137px 0;
}

.page__subscribe {
  background-color: #252b42;
}

.page__contacts {
  padding: 0 0 178px 0;
}

.page__contact-us {
  padding: 40px 0;
}

.main-block {
  position: relative;
}

.main-block__content {
  position: relative;
  z-index: 1;
  max-width: 398px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.main-block__title {
  font-weight: 800;
  font-size: 3.625rem;
  line-height: 1.3793103448;
}

.main-block__subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #737373;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.main-block__button {
  text-align: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 36px;
  background: #ff7b47;
  border-radius: 37px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__button:hover {
  background: #f57644;
}

.main-block__button:active {
  background: #eb7141;
}

.main-block__button_border {
  color: #0d5c63;
  background-color: rgba(255, 123, 71, 0);
  border: #0d5c63 1px solid;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.services__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.3333333333% - 2rem);
          flex: 1 1 calc(33.3333333333% - 2rem);
}

.services__item {
  height: 100%;
  gap: 10px;
  background-color: #fff;
  padding: 35px 40px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.services__item:hover {
  background-color: #0d5c63;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.services__item:hover svg {
  fill: #fff;
}

.services__item:hover h3,
.services__item:hover p {
  color: #fff;
}

.item__logo > svg {
  fill: #0d5c63;
}

.item__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
}

.item__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #737373;
}

.benefits__title {
  margin-bottom: 3.125rem;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 3rem);
          flex: 1 1 calc(25% - 3rem);
}

.benefits__tile {
  padding: 30px 40px;
}

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
}

.tile__number {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.45;
}

.tile__text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}

.advice__header {
  margin-bottom: 2.8125rem;
}

.advice__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 3rem);
          flex: 1 1 calc(25% - 3rem);
}

.advice__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  background-color: #fff;
  height: 100%;
}

.card__item {
  padding: 30px;
  height: 100%;
}

.card__tilte {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 0.9375rem;
}

.card__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #737373;
}

.card__image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__header {
  margin-bottom: 6.25rem;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.about__media {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  aspect-ratio: 4/3;
}

.about__media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info__header {
  margin-bottom: 3.125rem;
}

.info__title {
  text-align: left;
}

.info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.info__subtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.info__txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #737373;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__img img {
  max-width: 100%;
}

.subscribe__body {
  margin: 0 30px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background-color: #17213c;
  border-radius: 2px;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__text {
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  border-radius: 2px;
  color: #fff;
  max-width: 16.625rem;
}

.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 1rem);
          flex: 0 1 calc(50% - 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px 20px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  line-height: 2;
  min-height: 58px;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__button {
  padding: 15px 22.5px;
  background-color: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 58px;
}

.contacts__header {
  margin: 110px 0;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__card {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
  background-color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.contacts__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
  background-color: #252b42;
}

.contacts__card:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #fff;
  z-index: 1;
}

.contacts__card:hover svg {
  position: relative;
  fill: #fff;
  z-index: 2;
}

.contacts__card:hover a {
  color: #fff;
  border-color: #fff;
}

.contacts__card:hover::before {
  -webkit-transform: scaleY(1.1754);
      -ms-transform: scaleY(1.1754);
          transform: scaleY(1.1754);
  background-color: #252b42;
  opacity: 1;
  z-index: 2;
}

.contacts__card:nth-child(2) svg {
  -webkit-transform: translate(5.5px, 0px);
      -ms-transform: translate(5.5px, 0px);
          transform: translate(5.5px, 0px);
}

.contacts__img svg {
  fill: #0d5c63;
  z-index: 3;
}

.contacts__text {
  z-index: 3;
}

.contacts__label {
  z-index: 3;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.contacts__button {
  z-index: 3;
  color: #ff7b47;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  padding: 10px 20px;
}

.contact-us {
  background-color: #fff;
}

.contact-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 0.625rem;
  padding-right: 20px;
}

.contact-us__subtitle {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  color: #737373;
}

.contact-us__button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  background: #ff7b47;
  border-radius: 5px;
}

.contact-us__button:hover {
  background: #f57644;
}

.contact-us__button:active {
  background: #eb7141;
}

@media (min-width: 47.99875em) {
  .footer__title {
    font-size: 1rem;
    padding: 0;
  }

  .spollers {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 2fr;
        grid-template: 1fr/repeat(4, 1fr) 2fr;
    gap: 30px;
  }

  .spollers__title {
    font-size: 1rem;
    border-bottom: 0;
    padding: 0;
    margin-bottom: 1.25rem;
  }

  .spollers__body {
    border-bottom: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.7142857143;
  }

  .spollers__element:not(:last-child) {
    margin-bottom: 10px;
  }

  .spollers__element a {
    padding: 0;
  }

  .spollers__element a:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 1300px) {
  .main-block__cover {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 61.99875em) {
  .page__advice {
    padding: 0px 0 60px 0;
  }

  .page__about {
    padding: 40px 0;
  }

  .main-block__cover {
    opacity: 0.6;
  }

  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 1rem);
            flex: 1 1 calc(50% - 1rem);
  }

  .benefits__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 1rem);
            flex: 1 1 calc(50% - 1rem);
  }

  .advice__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 1rem);
            flex: 1 1 calc(50% - 1rem);
  }

  .about__body {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__media {
    min-width: 100%;
  }

  .info__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .clients__row {
    gap: 15px;
  }

  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 20px 35px;
    margin: 0;
  }

  .subscribe__text {
    max-width: 100%;
    font-size: 1.25rem;
    text-align: center;
  }

  .contacts__body {
    display: block;
  }
}

@media (max-width: 47.99875em) {
  .title__label {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__container {
    gap: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
    font-size: 1.125rem;
  }

  .footer__spollers {
    padding: 30px 0;
  }

  .spollers__body_e:nth-child(2) {
    -webkit-transform: translate(5px, 0px);
        -ms-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }

  .social__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }

  .social__text {
    max-width: 250px;
  }

  .social__icons {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }

  .page__clients {
    padding: 50px 0 50px 0;
  }

  .page__contacts {
    padding: 0 0 40px 0;
  }

  .main-block__content {
    padding: 122px 0 127px 0;
  }

  .main-block__title {
    font-size: 2.5rem;
  }

  .main-block__subtitle {
    color: #3b3b3b;
    font-size: 1rem;
  }

  .benefits__row {
    gap: 15px;
  }

  .tile__number {
    font-size: 1.875rem;
  }

  .tile__text {
    font-size: 0.875rem;
  }

  .advice__row {
    gap: 30px;
  }

  .advice__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .about__header {
    margin-bottom: 3.75rem;
  }

  .clients__row {
    gap: 0;
  }

  .subscribe__body {
    margin: 0 -15px;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }

  .subscribe__input {
    width: 100%;
  }

  .contacts__header {
    margin: 60px 0;
  }

  .contacts__card {
    padding: 30px 20px;
  }

  .contacts__card:not(:last-child) {
    margin-bottom: 15px;
  }

  .contact-us__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .contact-us__title {
    font-size: 1.125rem;
  }

  .contact-us__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 29.99875em) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .subscribe__input {
    max-height: 28px;
    border-radius: 5px;
  }

  .subscribe__button {
    max-height: 28px;
    border-radius: 5px;
    width: 100%;
  }
}